@using System.Web.Mvc.Html
@using KeepFit.Core.Models
@using KeepFit.Web.Resources
@model  KeepFit.Web.Models.Nutrition.ProductsModel
<style>
    .item {
        float: left;
        margin: 5px;
        padding: 10px;
        position: relative;
        width: 270px;
        height: 300px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #5BC0DE;
    }

    .iso-container {
        margin-top: 50px;
    }
</style>

<div class="row">
    <div class="col-md-3">

        <div id="filters" class="button-filter-group js-radio-button-group">
            <div class="well catalog-name">
                @Common.Catalog
            </div>
            @foreach (ProductType type in Model.ProductTypes)
            {
                <button class="ladda-button button-filter btn btn-info btn-sm btn-block" data-style="expand-left" data-filter="@type.ProductTypeId">
                    @type.Name<span></span>
                </button>
            }
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-7">
            <ul class="breadcrumb breadcrumb-custom" style="margin-bottom: 5px;">
                <li>@Html.ActionLink(Breadcrumbs.Home, "Index", "Home")</li>
                <li>@Html.ActionLink(Breadcrumbs.Products, "Products", "Nutrition")</li>
                <li class="active active-breadcrumb js-dynamic-breadcrumb">@Breadcrumbs.MilkProducts</li>
            </ul>
        </div>
        <div class="col-md-1">
            <button class="btn btn-info js-add-product">
                +
            </button>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon custom-addon">
                        <span class="icon icon-search icon-search-custom"></span>
                    </span>
                    <input id="prependedcheckbox" name="prependedcheckbox" class="form-control custom-input" type="text" placeholder="@Common.Search">
                </div>
            </div>
        </div>
        <div class="iso-container">
            @foreach (Product product in Model.Products)
            {
                <div class="item panel panel-custom panel-default @product.ProductTypeId" data-category="@product.ProductTypeId">
                    <div class="panel-heading header">
                        @product.Name
                        @if (Request.IsAuthenticated && (RoleType)ViewBag.CurrentUser.RoleType == RoleType.Admin)
                        {
                            <span class="icon icon-pencil icon-clickable js-product-edit" data-productid="@product.Id"></span>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="well">

                        </div>
                        <ul>
                            <li>
                                @Common.Proteins <span class="badge">@product.Proteins</span>
                            </li>
                            <li>
                                @Common.Fats <span class="badge">@product.Fats</span>
                            </li>
                            <li>
                                @Common.Carbohydrates <span class="badge">@product.Carbohydrates</span>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.infinitescroll.js"></script>
<script>
    $(function () {
        $('.js-add-product').on('click', function () {
            window.location.href = '@Url.Action("AddProduct","Nutrition")';
        });

        var $container = $('.iso-container').isotope({
            itemSelector: '.item',
            layoutMode: 'fitRows',
            transitionDuration: '0.6s',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false,
            }
        }).isotope('insert');

        $('.button-filter-group').on('click', 'button', function () {
            $('.js-dynamic-breadcrumb').text($(this).text());

            var filterValue = $(this).attr('data-filter');
            var l = Ladda.create(this);
            getProducts(filterValue, l);
        });

        $('body').on('click', '.js-product-edit', function () {
        });
        function getProducts(typeId, l) {
            l.start();

            $.ajax('@Url.Action("GetProducts", "Nutrition")',
            {
                type: 'POST',
                dataType: 'json',
                data: { typeId: typeId },
                success: function (result) {
                    var container = $('<div/>');


                    $.each(result, function (i, v) {
                        $('#productsTmpl').tmpl(
                            {
                                productName: v.Name,
                                productTypeId: v.ProductTypeId,
                                protein: v.Proteins,
                                fat: v.Fats,
                                carbohydrates: v.Carbohydrates
                            }
                        ).appendTo(container);
                    });
                    $container.empty().append(container.html()).isotope('insert', container.html());
                },
                error: function (result) {
                    alert('Error!');
                }
            }).done(function () {
                l.stop();
            });
        }
    });
</script>
<script id="productsTmpl" type="text/x-jquery-tmpl">
    <div class="item panel panel-custom panel-default" data-category="${productTypeId}">
        <div class="panel-heading header">
            ${productName}
            @if (Request.IsAuthenticated && (RoleType)ViewBag.CurrentUser.RoleType == RoleType.Admin)
            {
                <span class="icon icon-pencil icon-clickable js-product-edit"></span>
            }
        </div>
        <div class="panel-body">
            <div class="well">

            </div>
            <ul>
                <li>
                    @Common.Proteins <span class="badge">${protein}</span>
                </li>
                <li>
                    @Common.Fats <span class="badge">${fat}</span>
                </li>
                <li>
                    @Common.Carbohydrates <span class="badge">${carbohydrates}</span>
                </li>
            </ul>
        </div>
    </div>

</script>

