<div class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">KeepFit</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукты <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Продукты", "Products", "Nutrition")</li>
                    <li>@Html.ActionLink("Составление Меню", "Menu", "Nutrition")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Упражнения <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Упражнения", "Index", "Excercise")</li>
                    <li>@Html.ActionLink("Составление тренировки", "Workout", "Excercise")</li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</div>
