<!DOCTYPE html>
<!--[if IE 8]><html class="js-ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <style>
        .bootstrap-dialog-title {
            font-weight: bold;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link href="~/Content/ladda-themeless.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-editable.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/slidingpanel.css" rel="stylesheet" />
    <link href="~/Content/Modules.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap-extensions.css" rel="stylesheet" />
    @RenderSection("scripts", false)
    <script src="~/Scripts/spin.js"></script>
    <script src="~/Scripts/ladda.js"></script>
    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/jquery.loadTemplate-1.4.3.js"></script>
    <script src="~/Scripts/bootstrap-editable.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
</body>
</html>