@using KeepFit.Web.Helpers
@using KeepFit.Web.Models
@model CaloriesCalculationModel


<div class="col-md-8">
    <div class="calories-calculation">
        <form class="form-horizontal js-form-calculate-calories">
            <fieldset>
                <!-- Multiple Radios -->
                <div class="form-group">
                    @Html.LabelFor(x => x.Gender, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        <div class="radio">
                            <label for="radios-0">
                                @Html.RadioButtonFor(x => x.Gender, (int)Gender.Male, new { @checked = "checked" })
                                @EnumLocalizationHelper.GetLocalizedName(Gender.Male)
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                @Html.RadioButtonFor(x => x.Gender, (int)Gender.Female, new { @checked = "checked" })
                                @EnumLocalizationHelper.GetLocalizedName(Gender.Female)
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    @Html.LabelFor(x => x.Age, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Age, new { @class = "form-control input-md" })
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    @Html.LabelFor(x => x.Height, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Height, new { @class = "form-control input-md" })
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    @Html.LabelFor(x => x.Weight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control input-md" })
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    @Html.LabelFor(x => x.ActivityType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.EnumDropDownListFor(x => x.ActivityType, null, new { @class = "form-control" })
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-2">
                        <button type="button" id="singlebutton" name="singlebutton"
                                class="btn btn-primary ladda-button js-calculate-calories"
                                data-style="expand-left">
                            <span class="ladda-label">Расчитать</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>
<div class="col-md-4 js-calories">

</div>
<script id="caloriesTemplate" type="text/x-jquery-tmpl">
    <div class="alert alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Ежедневное потребление килокалорий:</strong> <span  class="label label-success">${calories}</span>.
    </div>
</script>
<script>
    $(function () {
        $('.js-calculate-calories').on('click', function () {

            var form = $('.js-form-calculate-calories');

            if (form.validate().form()) {
                var l = Ladda.create(this);
                l.start();
                var data = form.serialize();
                $.ajax('@Url.Action("CaloriesCalculation", "Calculation")',
                {
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        $('.js-calories').empty();
                        $('#caloriesTemplate').tmpl({ calories: result.bmr }).appendTo($('.js-calories'));
                    },
                    error: function (result) {
                        alert('Error!');
                        l.stop();
                    }
                }).done(function () {
                    l.stop();
                });
            }
        });
    });
</script>