@model KeepFit.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Log in";
}

<div class="12u skel-cell-important">
    <!-- Content -->
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Используйте имя пользователя и пароль для входа в систему</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-1">
                                <input type="submit" value="Вход" class="btn btn-default" />
                            </div>
                            <div class="col-md-3">
                                @Html.ActionLink("Регистрация", "Register", null, null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
